.header {
  padding: 0.75rem;
  background-image: linear-gradient(to bottom, #7d0808, #7d0808);
}

.homePage {
  display: flex;
  height: 100vh;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.navItem {
  height: 3.5rem;
  width: 3.5rem;
}

.title {
  text-decoration: underline;
  font-size: 2.5rem;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.flexHeader {
  display: flex;
  height: 100vh;
}

.mainHome {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: rgb(0, 0, 0);
  border: 1px solid black;
}

.mainContent {
  margin: 0 2rem 2rem 2rem;
  border: 1px solid black;
  height: 100%;
}
